@use '@angular/material' as mat;
@include mat.core();

/*
  A default theme
*/

$default-theme-light: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);
//Apply default theme and Material Design
@include mat.all-component-themes($default-theme-light);

/*
  Dark theme
*/

.default-theme-dark {
  $default-theme-dark: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(mat.$blue-grey-palette, 700),
        accent: mat.define-palette(mat.$amber-palette, A200),
        warn: mat.define-palette(mat.$deep-orange-palette, 900),
      ),
    )
  );
  @include mat.all-component-colors($default-theme-dark);
}

/*
  Additional themes
*/

.alternative-theme-light {
  $alternative-theme-light: mat.define-light-theme(
    (
      color: (
        primary: mat.define-palette(mat.$green-palette),
        accent: mat.define-palette(mat.$orange-palette),
        warn: mat.define-palette(mat.$amber-palette),
      ),
    )
  );
  @include mat.all-component-colors($alternative-theme-light);
}

.alternative-theme-dark {
  $alternative-theme-dark: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(mat.$purple-palette, 700),
        accent: mat.define-palette(mat.$lime-palette, A200),
        warn: mat.define-palette(mat.$pink-palette, 900),
      ),
    )
  );
  @include mat.all-component-colors($alternative-theme-dark);
}
